@font-face {
    font-family: 'maturamt';
    src: url('fonts/maturasc-webfont.woff2') format('woff2'),
         url('fonts/maturasc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
